<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RZYS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6F58FA31E6E9EC200919A1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6F58FB71E6E9EC200919A1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6F58FC21E6E9EC200919A1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
